@import 'color';

$size-small: 12px;
$size-medium: 15px;
$size-large: 18px;


.font {
  &-size {
    &-small {
      font-size: $size-small;
    }

    &-medium {
      font-size: $size-medium;
    }

    &-large {
      font-size: $size-large;
    }
  }

  &-color {
    &-secondary {
      color: $c-text-grey;
    }

    &-toned {
      color: $c-title-navy;
    }

    &-primary {
      color: $c-link-default;
    }
  }
}
