@import 'color';

$size-small: 12px;
$size-medium: 15px;
$size-large: 18px;

.text {
  font-size: $size-medium;
  color: $c-text-secondary;
}

.text--color-primary {
  color: $c-text-primary;
}

.text--color-toned {
  color: $c-title-navy;
}
