<ng-container *ngIf="members$ | async as team; else: spinner">
  <div class="team-container">
    <h3>{{team.mainTitle}}</h3>
    <app-member *ngFor="let member of team.members"
                [memberImage]="member.srcSet"
                [memberDetails]="member.details">
      <div class="projected-details">
        <p>{{member.details.position}}</p>
        <p>{{member.details.email}}</p>
        <p>{{member.details.phoneNumber}}</p>
      </div>
    </app-member>
  </div>
</ng-container>


<ng-template #spinner>
  <div class="spinner"></div>
</ng-template>

