<ng-container *ngIf="members$ | async as team; else: spinner" class="">
  <div class="p-2">
    <div class="team-container p-5 border">
      <h2 class="d-flex justify-content-center align-items-center pb-5 font-weight-bold font--color-toned">{{team.mainTitle}}</h2>
      <section class="d-flex align-items-start justify-content-center">
        <app-member class="col-4 mw-100" *ngFor="let member of team.members"
                    [memberImage]="member.srcSet"
                    [memberDetails]="member.details">
          <div class="projected-details">
            <p class="text mb-0 mt-1">{{member.details.position}}</p>
            <p class="text text--color-primary mb-0 mt-4">{{member.details.email}}</p>
            <p class="text mb-0 mt-1">{{member.details.phoneNumber}}</p>
          </div>
        </app-member>
      </section>
    </div>
  </div>
</ng-container>


<ng-template #spinner>
  <div class="spinner"></div>
</ng-template>

